@charset "utf-8";
/* CSS Document */

body {
  font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
  background-color: #FFEBEF   ;
  margin: auto 0;
}


/*---NAVIGATION BAR---*/
.nav-container{
   background-color: #E90043;
   position: fixed;
   top: 0;
   width: 100%;
}

.main-nav{
 display: flex;
 list-style: none;
 margin: 0;
 
}

@media only screen and (max-width: 600px) {
  .main-nav{
    font-size:0.8em;
    padding: 0;
  }
}

.push {
  margin-left: auto;


}

li{
   padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}
/*---NAVIGATION BAR---*/

/*---COVER---*/

.cover-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
  background-image: url("img/cover.jpg");
  background-size: cover;
  
}

li:hover {

  border-bottom: 5px solid #AD0025    ;
}

/*---COVER---*/

/*---BUTTON---*/

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.button {
background-color: #E90043;
width: 150px;
text-align: center;
padding: 10px;
color: white;
border-radius: 25px;
margin: 10px;

}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }

@media only screen and (max-width: 600px) {
  .button{
    font-size:0.8em;
    width: 100px;
  }
}

/*---BUTTON---*/

/*---LOWER GRID---*/
.grid-wrapper{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.box > img {
  width: 100%;
}

.box > img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);

}

.box {
  margin: 20px;
}

.end-footer {
   background-color: #E90043;
   padding: 5px; 
   color: white;
   text-align: center;

}

@media only screen and (max-width: 600px) {
  .end-footer{
    font-size:0.8em;
    padding: 1px;
  }
}