body {
   font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
  background-color: #FFEBEF   ;
  margin: auto 0;
   
}

.nav-container{
   background-color: #E90043;
   color: white;
   padding:8px 8px 8px 20px; 
   width: 100%;
}

.body{
  margin: 20px;
  
}

#enter {
  padding: 10px;
}

#userInput {
  padding: 10px;
}
